/* Custom styling for invalid feedback */
.invalid-feedback {
    display: none;
}

/* Show invalid feedback when input is invalid */
input:invalid {
    border-color: red;
}

input:invalid + .invalid-feedback {
    display: block;
}

/* Centering the form */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
